.first
{
    color:red;
    font-size: 50px;
}

.second
{
    color:green;
    background-color: blue;
}

.third
{
    text-transform: uppercase;
    letter-spacing: 10px;
    text-decoration: underline;
}