<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             modules
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['']">auth</a></li>
              <li><a class="dropdown-item" [routerLink]="['/dashboard']">dashboard</a></li>
              <li><a class="dropdown-item" [routerLink]="['/student']">student</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
          <span class="badge text-bg-primary p-2 ms-2" (click)="myapplication()"><i class="fa fa-th fa-2x"></i></span>
          
        </form>
        <div class="myapp" [ngStyle]="{'display':myapp}">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 p-2">
                <section  class="border bg-white p-3 pb-1 bt-1" [routerLink]="['/dashboard']">
                <img src="https://static-00.iconduck.com/assets.00/google-icon-2048x2048-czn3g8x8.png" class="img-fluid">
                <p>Google</p>
              </section>
              </div>
              <div class="col-md-4 p-2">
                <section  class="border bg-white p-3 pb-1 bt-1" [routerLink]="['/auth']">
                <img src="https://cdn-icons-png.flaticon.com/512/1791/1791961.png" class="img-fluid">
                <p>Google</p>
              </section>
              </div>
              <div class="col-md-4 p-2">
                <section  class="border bg-white p-3 pb-1 bt-1" [routerLink]="['/student']">
                <img src="https://cdn-icons-png.flaticon.com/512/5850/5850276.png" class="img-fluid">
                <p>Google</p>
              </section>
              
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </nav>