<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <section class="border p-3">
                <h1>p-info</h1>
                <app-personalinfo [name]="name"></app-personalinfo>
            </section>
        </div>
        <div class="col-md-6">
            <section class="border p-3">
                <h1>b-info</h1>
                <app-bankinfo [name]="name"></app-bankinfo>
            </section>
        </div>
    </div>
</div>
<button mat-button (click)="openDialog()">Open dialog</button>




