<div class="container-fluid bg-info cus-h">
    <div class="row justify-content-md-center">
        <div class="col-5">
            <div class="border login p-5 mt-5 rounded-4 shadow text-white">
                    <div class=" text-center ">
                        <h1 [align]="" [className]="">forget user and password</h1>
                    </div>

                    <div class="mb-3">
                      <label class="form-label">Email address</label>
                      <input type="text" class="form-control" [(ngModel)]="abc" value="ravi"/>
                      {{abc}}
                   
                    </div>
                 
                    <!-- <div class="mb-3">
                      <label class="form-label">Password</label>
                      <input type="password" class="form-control">
                    </div> -->
                    <div class="mb-3 form-check">
             
                      <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover ms-5" [routerLink]="['/dashboard']">
                      dashboard
                      </a>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                 
            </div>
        </div>
    </div>
</div>