<app-header></app-header>
<h1>welcome to angular cli</h1>
<p>this is paragraph</p>
<ul>
  <li>list1</li>
  <li>list2</li>
  <li>list3</li>
  <li>list4</li>
  <li>list5</li>
  <li>list6</li>
  <li>list7</li>
  <li>list8</li>
  <li>list9</li>
  <li>list10</li>
</ul>
<ol>
  <li>box1</li>
  <li>box2</li>
  <li>box3</li>
  <li>box4</li>
  <li>box5</li>
  <li>box6</li>
  <li>box7</li>
  <li>box8</li>
  <li>box9</li>
  <li>box10</li>
  <li>box11</li>
  <li>box12</li>
  <li>box13</li>
  <li>box14</li>
  <li>box15</li>
  <li>box16</li>
  <li>box17</li>
  <li>box18</li>
  <li>box19</li>
  <li>box20</li>
</ol>
{{abc}}
{{name}}
<app-myhome></app-myhome>
<app-footer></app-footer>