/* You can add global styles to this file, and also import other style files */
.head
{
    color:white;
    background-color: blue;
    border:1px solid red;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.login
{
    background:linear-gradient(red,blue);
}
.cus-h
{
    height:100vh !important;
}

.myapp
{
    width:300px;
    min-height: 200px;
    max-height: 500px;
    background-color: orange;
    border:1px solid red;
    position: absolute;
    right: 0;
    top:55px;
}

